.tab-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.tab-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  background-color: navy;
}

.tab-title {
  padding: 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.active {
  background-color: lightblue;
  color: black;
}

.tab-content {
  width: 100%;
}
