.scroll-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px;
	margin: 0;
	background-color: darkblue;
	color: white;
	text-align: center;
	z-index: 1;
}

.products {
	position: absolute;
	top: 70px;
}

.scroller {
	height: 5px;
	width: 1px;
	background-color: yellow;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
}
