.app-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.autocomplete-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
}

.autocomplete-container input {
	width: 300px;
	padding: 10px 20px;
	border-radius: 5px;
	border: 1px solid lightgray;
}

.serach-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	gap: 10px;
	box-shadow: 1px 1px 10px 1px lightgray;
}

.serach-list > div {
	padding: 5px;
}
