.tic-tac-toe {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.tic-tac-toe-header {
	color: tomato;
}

.row {
	display: flex;
}

.row > button {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	border: 2px solid darkgray;
	margin-top: -2px;
	margin-left: -2px;
	background-color: white;
	cursor: pointer;
}

.message {
	display: flex;
	justify-content: center;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.button-container button {
	border: none;
	background-color: blue;
	color: white;
	padding: 10px 20px;
	box-shadow: 1px 1px 2px 1px lightgray;
	font-weight: 600;
	cursor: pointer;
}

.button-container button:hover {
	background-color: rgb(1, 1, 179);
}
